**/__pycache__/
**/.DS_Store
old_README.md
**/.idea
datasets
*.log
*.pt
*.zip
*.pkl
tsm/baselines/TS2vec/AutogluonModels
tsm/TFC/wandb/
tsm/baselines/TS2vec/leave_one_out_finetune.py # TODO: Add back later with example  
tsm/baselines/TS2vec/test.ipynb
wandb
*.npy